<body>
    <div class="w3-bottom">
        <div class="w3-bar w3-theme-d5">
            <a class="w3-bar-item">Contributed By => </a>
                <a href="https://www.linkedin.com/in/akash-kokare-410961173/" class="w3-bar-item w3-button">Akash </a>
                <a href="https://www.linkedin.com/in/nairsailesh/" class="w3-bar-item w3-button">Sailesh</a>
                <a href="https://www.linkedin.com/in/jhanavi-behl-7a43301a8/" class="w3-bar-item w3-button">Jhanavi</a>
                <a href="https://www.linkedin.com/in/riddhesh-khedekar-a13001191/" class="w3-bar-item w3-button">Riddhesh</a>                
        </div>
    </div>
</body>