<!DOCTYPE html>

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">  
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">  
        <script src="{{ url_for('static', filename='main.js') }}" ></script>
    <body>
            {% include 'header.html' %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
            {% include 'footer.html' %}
    </body>
    <script>
        var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</html>